<div id="leftnav-admin" class="nav-collapse">
    <ul id="application-list" class="nav nav-list bs-docs-sidenav">
        <div class="green-vertical-spacer"></div>
        <li id="applications-header" class="leftnav-header">ADMIN</li>
        <li>
            <a id="application-menu-{{application.id}}" class="applicationMenuLink" style="margin-bottom:0px;padding:0px 0px 0px 10px" href="#/admin/role/list">
                <img src="img/app_icon_default_sm.png"/> 
                Role Management
            </a>
        </li>
    </ul>
</div>